/* --- RESET CSS --- */

body{
  margin: 0;
}

h1,h2,h3,h4,p,ul,div,span{
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight: 100;
}

*{
  box-sizing: border-box;
}

/* --- FIN RESET --- */


/* --- FONT FACE --- */

@font-face {
  font-family: "Marston";
  src: url("fonts/marston-webfont.woff2") format("woff2"), url("fonts/marston-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Marston";
  src: url("fonts/marston-bold-webfont.woff2") format("woff2"), url("fonts/marston-bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}


/* --- FIN FONT FACE --- */


body {
	font-family: "Marston", sans-serif;
	background-color: #282828;
}

nav {
	width: 100vw;
	display: flex;
	justify-content: center;
}

nav ul {
	display: flex;
	flex-direction: row;
}

nav ul li {
	padding: 30px;
	font-size: 30px;
	color: white
}

.personnage {
	color: red;
}

nav ul li:hover {
	color: red;
}

.firstContent {
  text-align: center;
  color: white;
}

.firstContent h1 {
  font-size: 35px;
}

.firstContent q {
  font-size: 20px;
  quotes: "\201C""\201D""\2018""\2019";
}

.firstContent img {
  width: 35vw;
  display: block;
  margin: 20px auto 0px auto;
}

.secondContent {
	color: white;
	width: 100vw;
  margin-top : 30px;
}

.secondContent iframe{
  width: 80vw;
  max-width: 1920px;
  height: calc(80vw * 0.56);
  max-height: 1080px;
  display: block;
  margin: auto;
  border: none;
}

.thirdContent {
  margin-top: 50px;
  color: white;
  text-align: center;
}

.thirdContent h2 {
  margin-bottom: 20px;
}

.thirdContent p {
  margin-bottom: 50px;
}